body {
  background: #f5f8fa;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: white;
  color: black;
  font-style: bold;
  padding: 2px;
  text-align: center;
}

figure img {
  max-width: 100%;
  height: 250px;
}
