body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carouselStyle {
  position: absolute;
  height: 30em;
  left: 0.5em;
  top: 16em;
  text-align: center;
  
  
}

.carouselSlide{
  margin: auto;
  text-align: center;
  width: 88%;

}

.cardGroupStyles{
  position: absolute;
  width: 90%;
  left: 6em;
  top: 48em;
}

.cardStyles{
  position: absolute;
  width: 21em;
  
}

.footerStyle{
  position: absolute;
  top: 137em;
  left: 6em;
  width: 88%;
}

.divider{
  width:1em;
  height:auto;
  display:inline-block;
}

.aboutStyle{
  position: absolute;
  top: 1em;
  left: 6em;
  width: 88%;
}